@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

:root {
  --Dark-Blue-Mode: hsl(209, 23%, 22%);
  --Very-Dark-Blue-Background: hsl(207, 26%, 17%);
  --Very-Dark-Blue-Light-Mode-Text: hsl(200, 15%, 8%);
  --Dark-Gray: hsl(0, 0%, 52%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
}

img {
  max-width: 100%;
  height: 100%;
}
body {
  font-family: "Nunito Sans", sans-serif;
  padding: 20px;
  background-color: var(--Very-Dark-Blue-Background);
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 1.5em;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.info {
  height: 100%;
  background-color: var(--Dark-Blue-Mode);
  color: white;
  padding: 20px;
}
.info span {
  font-weight: 600;
  letter-spacing: 1px;
}

.card {
  overflow: hidden;
  width: 100%;
  height: 100%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  outline: none;
  border: 0.25px solid transparent;
}

.search {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50px;
  background-color: var(--color-background);
  border-bottom: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  user-select: none;
  margin-bottom: 30px;
  z-index: 9999;
}

.control {
  width: 100%px;
  height: 50px;
}

.control input {
  width: 100%;
  height: 100%;
  background-color: hsl(209, 23%, 22%);
  padding: 20px;
  color: white;
  font-size: 1.2rem;
  border: none;
  outline: none;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.selector {
  display: flex;
  justify-content: flex-end;
  position: relative;
  height: 100%;
  width: 100%;
  right: 0;
}

.select {
  max-width: 250px;
  height: 100%;
  background-color: hsl(209, 23%, 22%);
  color: white;
  font-size: 1.2rem;
  border: none;
  outline: none;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  font-family: inherit;
  padding: 8px;
}

.select option {
  margin-top: 10px;
  font-family: inherit;
}

@media (min-width: 375px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 640px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 900px) {
  body {
    padding: 20px;
  }
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
